# Analysis of National Grid Massachusetts Gas Leaks 2018 V2

#### Goal:  
Provide insights into National Grid Massachusetts gas leaks.   
Provide a visualization of the leaks.   
Add socio-demographic information.  
Spur action on this critical issue.

-------
People, this is an important issue!

##### Worcester Residents Demand Gas Leak Repairs  
There are growing concerns that five natural gas leaks near schools in Worcester are causing health issues associated with asthma.  

(Published Tuesday, Jun 18, 2019 | Credit: Cassy Arsenault)

https://www.necn.com/multimedia/Worcester-Residents-Demand-Gas-Leak-Repairs_NECN-511476042.html

https://heetma.org/gas-leaks/

#### Steps:  
Load needed libraries  
Import NGrid data   
Add Zipcodes  --- *** Can anyone provide advice on this? See below ****


Add soci-demographic information. --- *** Can anyone provide advice on this? See below. **** 

    - how to loop over several addresses
    - How to get the zipcode output into a pandas dataframe?




Provide visualizations  
Do analytics

#### Data Info   
Data generously provide by Audrey Schulman, HEET (https://heetma.org)  Co-founder and Executive Director:   

The first number is the National Grid ID number.  
 
The ending grade is defined by potential for explosion.  

To generalize:   
Grade 1 is in a contained space  

Grade 2 is close to a building,  

(2A? Unknown. I recoded those to 2 in a new column)

Grade 3 is everything else.   

Grades having nothing to do with volume of emissions.

In [64]:
# import modules

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Import NGrid data

https://chrisalbon.com/python/data_wrangling/load_excel_file_into_pandas/

In [65]:
# Import the excel file and call it xls_file
gasleaks = pd.read_csv('0-Boston_Gas_2018_SQ_Report_3-1-19_unrepaired_pg.csv')

In [66]:
gasleaks.head(20)

,f,ReportedAddress,CrossStreet,Town,State,concate,ReportedDate,Endingleakgrade,Endingleakgradenumber
0,6015776,1070 BEDFORD ST,NaN,ABINGTON,MA,"1070 BEDFORD ST ABINGTON, MA",9/9/2015,3,3
1,1505591,11 ADLEY DR,NaN,ABINGTON,MA,"11 ADLEY DR ABINGTON, MA",9/26/2013,3,3
2,7333066,123 CATHERINE DR,NaN,ABINGTON,MA,"123 CATHERINE DR ABINGTON, MA",4/5/2017,3,3
3,7321083,1233 WASHINGTON ST,NaN,ABINGTON,MA,"1233 WASHINGTON ST ABINGTON, MA",9/10/2015,3,3
4,251670,1241 WASHINGTON ST,NaN,ABINGTON,MA,"1241 WASHINGTON ST ABINGTON, MA",9/26/2003,3,3
5,7323314,138 RANDOLPH ST,NaN,ABINGTON,MA,"138 RANDOLPH ST ABINGTON, MA",8/1/2014,3,3
6,7337464,140 CHESTNUT ST,NaN,ABINGTON,MA,"140 CHESTNUT ST ABINGTON, MA",8/14/2017,3,3
7,1740971,141 CHAPEL ST,NaN,ABINGTON,MA,"141 CHAPEL ST ABINGTON, MA",9/3/2014,3,3
8,2950638,16 HARRISON AVE,NaN,ABINGTON,MA,"16 HARRISON AVE ABINGTON, MA",1/31/2015,3,3
9,851846,177 CENTRAL ST,NaN,ABINGTON,MA,"177 CENTRAL ST ABINGTON, MA",4/18/2012,3,3
10,1505600,177 MARGARET RD,NaN,ABINGTON,MA,"177 MARGARET RD ABINGTON, MA",9/26/2013,3,3
11,321520,18 WASHINGTON ST,NaN,ABINGTON,MA,"18 WASHINGTON ST ABINGTON, MA",4/14/2009,3,3
12,235571,21 WALKER LN,NaN,ABINGTON,MA,"21 WALKER LN ABINGTON, MA",9/10/2002,3,3
13,7345234,222 LINWOOD ST,NaN,ABINGTON,MA,"222 LINWOOD ST ABINGTON, MA",6/28/2018,3,3
14,303321,238 WASHINGTON ST,NaN,ABINGTON,MA,"238 WASHINGTON ST ABINGTON, MA",8/8/2007,3,3
15,7323312,240 NORTH AVE,NaN,ABINGTON,MA,"240 NORTH AVE ABINGTON, MA",8/19/2014,3,3
16,7323307,262 ADAMS ST,NaN,ABINGTON,MA,"262 ADAMS ST ABINGTON, MA",8/19/2014,3,3
17,266424,27 HIGHLAND ST,NaN,ABINGTON,MA,"27 HIGHLAND ST ABINGTON, MA",9/30/2004,3,3
18,7323315,27 ROCKLAND ST,NaN,ABINGTON,MA,"27 ROCKLAND ST ABINGTON, MA",9/10/2014,3,3
19,7349726,32 ASHLAND ST,NaN,ABINGTON,MA,"32 ASHLAND ST ABINGTON, MA",12/1/2018,3,3

In [67]:
gasleaks.tail()

,f,ReportedAddress,CrossStreet,Town,State,concate,ReportedDate,Endingleakgrade,Endingleakgradenumber
10022,7337986,79 SCHOOL ST,NaN,WOBURN,MA,"79 SCHOOL ST WOBURN, MA",8/25/2017,3,3
10023,7348019,8 MARION AVE,NaN,WOBURN,MA,"8 MARION AVE WOBURN, MA",10/9/2018,3,3
10024,417453,9 ARLINGTON RD,NaN,WOBURN,MA,"9 ARLINGTON RD WOBURN, MA",9/29/2011,3,3
10025,7338268,9 LYNN ST,NaN,WOBURN,MA,"9 LYNN ST WOBURN, MA",9/12/2017,3,3
10026,7345770,94 PLEASANT ST,NaN,WOBURN,MA,"94 PLEASANT ST WOBURN, MA",7/18/2018,2,2

##### These data have no zip codes, which means we can't convert the locations to lat/long, which means we can't plot this the way we want.

There are a variety of sites online where you can find zipcodes for an address, but we have over 10,000 cases so we need a better solution than these, searching one-by-one:
    
https://tools.usps.com/go/zip-code-lookup.htm
        
        
https://www.unitedstateszipcodes.org/

#### We want to do geocoding to work with the data

The pygeocoder solution looks cool:  

It allows you to directly convert an address to coordinates or vice versa. It also allows you to validate, format and split addresses into civic number, street name, city etc.

But we need the zipcodes (ideally, by the specific location; not just by the town.)


someone recommended geocoder. First attempt with conda bricked conda and jypyter notebook; so did an Anaconda reinstall.

In [68]:
# Load packages
# https://geocoder.readthedocs.io/
##from pygeocoder import Geocoder
#import pandas as pd
##import numpy as np

Maybe try this (in10k batches) by try geocoder for now.



https://geocoding.geo.census.gov/

##### Install geocoder (on ubuntu 18.04)

#sudo snap install geocoder

But that was a mistake; did not install to my environment; so try this:  
example:  
conda install --name my_env35 numpy

conda install --name my_env35 geocoder

did not work.


but creating a new environment (pg_geocode); then pip install geocoder seems to have worked.

https://geocoder.readthedocs.io/

https://docs.snapcraft.io/getting-started

In [69]:
import geocoder

#### Environment Variables¶
To make sure your API key is stored safely on your computer, you can define that API key using your system’s environment variables.  

$ export GOOGLE_API_KEY=<Secret API Key>  
$ export GOOGLE_CLIENT=<Secret Client>  
$ export GOOGLE_CLIENT_SECRET=<Secret Client Secret>

$ export GOOGLE_API_KEY=<Secret API Key>
$ export GOOGLE_CLIENT=<Secret Client>
$ export GOOGLE_CLIENT_SECRET=<Secret Client Secret>

https://geocoder.readthedocs.io/api.html#house-addresses

# example  
>>> g = geocoder.google("453 Booth Street, Ottawa ON")
>>> g.housenumber
>>> g.postal
>>> g.street
>>> g.street_long

In [70]:
g = geocoder.google("453 Booth Street, Ottawa ON")

In [71]:
print(g.street)

None

In [74]:
#g = geocoder.Bing("453 Booth Street, Ottawa ON")


#AttributeError: module 'geocoder' has no attribute 'Bing'

In [75]:
g = geocoder.google("453 Booth Street, Ottawa ON")
g.housenumber
g.postal
g.street
g.street_long

In [76]:
g.postal

In [77]:
g

<[REQUEST_DENIED] Google - Geocode [empty]>

g = geocoder.geonames('Mountain View, CA')

In [78]:
g.latlng

$ 5. 00
price/1K requests
0 - 100K
requests/month

https://console.cloud.google.com/marketplace/details/google/geocoding-backend.googleapis.com

https://nominatim.org/release-docs/develop/api/Search/

would cost me aboug $50 dollars to do that

Using a Session
In case you have several addresses to encode, to use persistent HTTP connection as recommended by the request-library http://docs.python-requests.org/en/master/user/advanced/#session-objects you might use the following:

>>> with requests.Session() as session:
>>>    berlin = geocoder.google("Ritterstr. 12, 10969 Berlin", session=session)
>>>    ottawa = geocoder.google("453 Booth Street, Ottawa ON", session=session)

https://pypi.org/project/uszipcode/0.0.8/

Shut Notebook, and terminal; did pip install; but not showing up

#### This uszipcode library has cool info we could match up to our data-- 

We don't have zipcodes for the street addresses.

But we can get zipcodes for the towns, generally.

https://uszipcode.readthedocs.io/index.html

https://pypi.org/project/uszipcode/             (incomplete)

In [79]:
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True) # set simple_zipcode=False to use rich info database
zipcode = search.by_zipcode("10001")

In [80]:
zipcode

SimpleZipcode(zipcode='10001', zipcode_type='Standard', major_city='New York', post_office_city='New York, NY', common_city_list=['New York'], county='New York County', state='NY', lat=40.75, lng=-73.99, timezone='Eastern', radius_in_miles=0.9090909090909091, area_code_list=['718', '917', '347', '646'], population=21102, population_density=33959.0, land_area_in_sqmi=0.62, water_area_in_sqmi=0.0, housing_units=12476, occupied_housing_units=11031, median_home_value=650200, median_household_income=81671, bounds_west=-74.008621, bounds_east=-73.984076, bounds_north=40.759731, bounds_south=40.743451)

In [81]:
# Looking for Chicago and IL, but entered wrong spelling.
res = search.by_city_and_state("Chicago", "il")
res

[SimpleZipcode(zipcode='60601', zipcode_type='Standard', major_city='Chicago', post_office_city='Chicago, IL', common_city_list=['Chicago'], county='Cook County', state='IL', lat=41.88, lng=-87.62, timezone='Central', radius_in_miles=0.7954545454545454, area_code_list=['312', '773', '872'], population=11110, population_density=28793.0, land_area_in_sqmi=0.39, water_area_in_sqmi=0.0, housing_units=8594, occupied_housing_units=6739, median_home_value=494200, median_household_income=95556, bounds_west=-87.633967, bounds_east=-87.61328, bounds_north=41.889045, bounds_south=41.880829),
 SimpleZipcode(zipcode='60602', zipcode_type='Standard', major_city='Chicago', post_office_city='Chicago, IL', common_city_list=['Chicago'], county='Cook County', state='IL', lat=41.883, lng=-87.628, timezone='Central', radius_in_miles=0.45454545454545453, area_code_list=['312', '708', '773', '872'], population=1204, population_density=13833.0, land_area_in_sqmi=0.09, water_area_in_sqmi=0.0, housing_units=791, occupied_housing_units=569, median_home_value=325700, median_household_income=79957, bounds_west=-87.633895, bounds_east=-87.624296, bounds_north=41.884498, bounds_south=41.880743),
 SimpleZipcode(zipcode='60603', zipcode_type='Standard', major_city='Chicago', post_office_city='Chicago, IL', common_city_list=['Chicago'], county='Cook County', state='IL', lat=41.88, lng=-87.629, timezone='Central', radius_in_miles=0.3977272727272727, area_code_list=['217', '224', '312', '847', '872', '630', '773', '815', '708'], population=493, population_density=3402.0, land_area_in_sqmi=0.14, water_area_in_sqmi=0.0, housing_units=749, occupied_housing_units=187, median_home_value=643800, median_household_income=107419, bounds_west=-87.633824, bounds_east=-87.6172, bounds_north=41.882119, bounds_south=41.878278),
 SimpleZipcode(zipcode='60604', zipcode_type='Standard', major_city='Chicago', post_office_city='Chicago, IL', common_city_list=['Chicago'], county='Cook County', state='IL', lat=41.88, lng=-87.625, timezone='Central', radius_in_miles=0.625, area_code_list=['708', '217', '224', '312', '630', '773', '847', '872'], population=570, population_density=6157.0, land_area_in_sqmi=0.09, water_area_in_sqmi=0.0, housing_units=496, occupied_housing_units=358, median_home_value=528100, median_household_income=132188, bounds_west=-87.633759, bounds_east=-87.622985, bounds_north=41.879555, bounds_south=41.875882),
 SimpleZipcode(zipcode='60605', zipcode_type='Standard', major_city='Chicago', post_office_city='Chicago, IL', common_city_list=['Chicago'], county='Cook County', state='IL', lat=41.87, lng=-87.62, timezone='Central', radius_in_miles=1.0, area_code_list=['217', '224', '312', '630', '708', '773', '847', '872'], population=24668, population_density=19806.0, land_area_in_sqmi=1.25, water_area_in_sqmi=0.78, housing_units=14805, occupied_housing_units=12703, median_home_value=344300, median_household_income=75426, bounds_west=-87.636035, bounds_east=-87.603387, bounds_north=41.882335, bounds_south=41.850106)]

In [82]:
len(res) # 56 zipcodes in Chicago

5

# I'm trying to figure out how to work with the zipcode output; but I get errors:
len(zipcode)

TypeError: object of type 'SimpleZipcode' has no len()

In [83]:
#res.describe()

#AttributeError: 'list' object has no attribute 'describe'

So the output is a list. 

How to export it to an array or a data frame so we can match it back to our data?

res.type()

AttributeError: 'list' object has no attribute 'type'

In [84]:
zipcode = res[0]

In [85]:
zipcode.major_city

'Chicago'

In [86]:
zipcode.state_abbr

'IL'

In [87]:
zipcode

SimpleZipcode(zipcode='60601', zipcode_type='Standard', major_city='Chicago', post_office_city='Chicago, IL', common_city_list=['Chicago'], county='Cook County', state='IL', lat=41.88, lng=-87.62, timezone='Central', radius_in_miles=0.7954545454545454, area_code_list=['312', '773', '872'], population=11110, population_density=28793.0, land_area_in_sqmi=0.39, water_area_in_sqmi=0.0, housing_units=8594, occupied_housing_units=6739, median_home_value=494200, median_household_income=95556, bounds_west=-87.633967, bounds_east=-87.61328, bounds_north=41.889045, bounds_south=41.880829)

In [88]:
zipcode.zipcode

'60601'

https://uszipcode.readthedocs.io/index.html

In [89]:
zipcode.values()

['60601',
 'Standard',
 'Chicago',
 'Chicago, IL',
 ['Chicago'],
 'Cook County',
 'IL',
 41.88,
 -87.62,
 'Central',
 0.7954545454545454,
 ['312', '773', '872'],
 11110,
 28793.0,
 0.39,
 0.0,
 8594,
 6739,
 494200,
 95556,
 -87.633967,
 -87.61328,
 41.889045,
 41.880829]

#### We can search by city and state. But that is not a great solution, because we want to leverage the street information too.

Below is a long way to do it (made easier with some copy/pasting in Excel); but this would probably be better done by looping over the data.

**** I can review loops, but if anyone has advice on how we could do that loop that would be great****

res1=search.by_city_and_state("ABINGTON", "MA")
res2=search.by_city_and_state("ACTON", "MA")
res3=search.by_city_and_state("AMESBURY", "MA")
res4=search.by_city_and_state("ARLINGTON", "MA")
res5=search.by_city_and_state("AYER", "MA")
res6=search.by_city_and_state("BEDFORD", "MA")
res7=search.by_city_and_state("BELMONT", "MA")
res8=search.by_city_and_state("BEVERLY", "MA")
res9=search.by_city_and_state("BOSTON", "MA")
res10=search.by_city_and_state("BOXBOROUGH", "MA")
res11=search.by_city_and_state("BOXFORD", "MA")
res12=search.by_city_and_state("BRAINTREE", "MA")
res13=search.by_city_and_state("BREWSTER", "MA")
res14=search.by_city_and_state("BRIGHTON", "MA")
res15=search.by_city_and_state("BROOKFIELD", "MA")
res16=search.by_city_and_state("BROOKLINE", "MA")
res17=search.by_city_and_state("BURLINGTON", "MA")
res18=search.by_city_and_state("BYFIELD", "MA")
res19=search.by_city_and_state("CAMBRIDGE", "MA")
res20=search.by_city_and_state("CARLISLE", "MA")
res21=search.by_city_and_state("CENTERVILLE", "MA")
res22=search.by_city_and_state("CHARLESTOWN", "MA")
res23=search.by_city_and_state("CHELSEA", "MA")
res24=search.by_city_and_state("CLINTON", "MA")
res25=search.by_city_and_state("COHASSET", "MA")
res26=search.by_city_and_state("CONCORD", "MA")
res27=search.by_city_and_state("DANVERS", "MA")
res28=search.by_city_and_state("DORCHESTER", "MA")
res29=search.by_city_and_state("DUDLEY", "MA")
res30=search.by_city_and_state("EAST BOSTON", "MA")
res31=search.by_city_and_state("EAST BROOKFIELD", "MA")
res32=search.by_city_and_state("ESSEX", "MA")
res33=search.by_city_and_state("EVERETT", "MA")
res34=search.by_city_and_state("GEORGETOWN", "MA")
res35=search.by_city_and_state("GLOUCESTER", "MA")
res36=search.by_city_and_state("GROTON", "MA")
res37=search.by_city_and_state("GROVELAND", "MA")
res38=search.by_city_and_state("HAMILTON", "MA")
res39=search.by_city_and_state("HARVARD", "MA")
res40=search.by_city_and_state("HAVERHILL", "MA")
res41=search.by_city_and_state("HINGHAM", "MA")
res42=search.by_city_and_state("HULL", "MA")
res43=search.by_city_and_state("IPSWICH", "MA")
res44=search.by_city_and_state("JAMAICA PLAIN", "MA")
res45=search.by_city_and_state("LANCASTER", "MA")
res46=search.by_city_and_state("LEICESTER", "MA")
res47=search.by_city_and_state("LEOMINSTER", "MA")
res48=search.by_city_and_state("LEXINGTON", "MA")
res49=search.by_city_and_state("LINCOLN", "MA")
res50=search.by_city_and_state("LITTLETON", "MA")
res51=search.by_city_and_state("LOWELL", "MA")
res52=search.by_city_and_state("LUNENBURG", "MA")
res53=search.by_city_and_state("LYNN", "MA")
res54=search.by_city_and_state("LYNNFIELD", "MA")
res55=search.by_city_and_state("MALDEN", "MA")
res56=search.by_city_and_state("MANCHESTER", "MA")
res57=search.by_city_and_state("MARBLEHEAD", "MA")
res58=search.by_city_and_state("MARSTONS MILLS", "MA")
res59=search.by_city_and_state("MEDFORD", "MA")
res60=search.by_city_and_state("MELROSE", "MA")
res61=search.by_city_and_state("MERRIMAC", "MA")
res62=search.by_city_and_state("MIDDLETON", "MA")
res63=search.by_city_and_state("MILTON", "MA")
res64=search.by_city_and_state("NAHANT", "MA")
res65=search.by_city_and_state("NEWBURYPORT", "MA")
res66=search.by_city_and_state("NEWTON", "MA")
res67=search.by_city_and_state("NORTH BROOKFIELD", "MA")
res68=search.by_city_and_state("NORWOOD", "MA")
res69=search.by_city_and_state("PEABODY", "MA")
res70=search.by_city_and_state("QUINCY", "MA")
res71=search.by_city_and_state("READING", "MA")
res72=search.by_city_and_state("REVERE", "MA")
res73=search.by_city_and_state("ROCKLAND", "MA")
res74=search.by_city_and_state("ROCKPORT", "MA")
res75=search.by_city_and_state("ROSLINDALE", "MA")
res76=search.by_city_and_state("ROWLEY", "MA")
res77=search.by_city_and_state("ROXBURY", "MA")
res78=search.by_city_and_state("SALEM", "MA")
res79=search.by_city_and_state("SALISBURY", "MA")
res80=search.by_city_and_state("SAUGUS", "MA")
res81=search.by_city_and_state("SHIRLEY", "MA")
res82=search.by_city_and_state("SOMERVILLE", "MA")
res83=search.by_city_and_state("SOUTH BOSTON", "MA")
res84=search.by_city_and_state("SOUTHBRIDGE", "MA")
res85=search.by_city_and_state("SPENCER", "MA")
res86=search.by_city_and_state("STONEHAM", "MA")
res87=search.by_city_and_state("SUDBURY", "MA")
res88=search.by_city_and_state("SWAMPSCOTT", "MA")
res89=search.by_city_and_state("SWIFTS BEACH", "MA")
res90=search.by_city_and_state("TOPSFIELD", "MA")
res91=search.by_city_and_state("WAKEFIELD", "MA")
res92=search.by_city_and_state("WALTHAM", "MA")
res93=search.by_city_and_state("WARREN", "MA")
res94=search.by_city_and_state("WATERTOWN", "MA")
res95=search.by_city_and_state("WAYLAND", "MA")
res96=search.by_city_and_state("WEBSTER", "MA")
res97=search.by_city_and_state("WELLESLEY", "MA")
res98=search.by_city_and_state("WENHAM", "MA")
res99=search.by_city_and_state("WEST BROOKFIELD", "MA")
res100=search.by_city_and_state("WEST NEWBURY", "MA")
res101=search.by_city_and_state("WEST ROXBURY", "MA")
res102=search.by_city_and_state("WESTON", "MA")
res103=search.by_city_and_state("WEYMOUTH", "MA")
res104=search.by_city_and_state("WHITMAN", "MA")
res105=search.by_city_and_state("WINCHESTER", "MA")
res106=search.by_city_and_state("WINTHROP", "MA")
res107=search.by_city_and_state("WOBURN", "MA")

res1

#res2

Ideally, we would get the zipcodes by street, but this information might be good enough;   

#### How can we get it into a dataframe and match it back to the data???

In [90]:
# make a list
zipcode.values

<bound method ExtendedBase.values of SimpleZipcode(zipcode='60601', zipcode_type='Standard', major_city='Chicago', post_office_city='Chicago, IL', common_city_list=['Chicago'], county='Cook County', state='IL', lat=41.88, lng=-87.62, timezone='Central', radius_in_miles=0.7954545454545454, area_code_list=['312', '773', '872'], population=11110, population_density=28793.0, land_area_in_sqmi=0.39, water_area_in_sqmi=0.0, housing_units=8594, occupied_housing_units=6739, median_home_value=494200, median_household_income=95556, bounds_west=-87.633967, bounds_east=-87.61328, bounds_north=41.889045, bounds_south=41.880829)>

res1.values()  




---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-36-0d2138205d95> in <module>
----> 1 res1.values()

AttributeError: 'list' object has no attribute 'values'

https://chrisalbon.com/python/basics/applying_functions_to_list_items/

https://chrisalbon.com/python/basics/function_basics/

# Drop Duplicates

In [91]:
gasleaks_unique = gasleaks[["Town","State"]].drop_duplicates()

In [92]:
gasleaks_unique.head()

          Town State
0     ABINGTON    MA
44       ACTON    MA
264   AMESBURY    MA
280  ARLINGTON    MA
593       AYER    MA

In [104]:
gasleaks_unique.tail()

            Town State
9405    WEYMOUTH    MA
9696     WHITMAN    MA
9772  WINCHESTER    MA
9883    WINTHROP    MA
9930      WOBURN    MA

def lookup(town, state):
    res = search.by_city_and_state("ABINGTON", "MA")
    return res[0].zipcode

In [95]:
def lookup(town, state):
    res = search.by_city_and_state(town, state)
    return res[0].zipcode

In [96]:
lookup("ABINGTON", "MA")

'02351'

In [97]:
lookup("BROOKLINE", "MA")

'02445'

In [98]:
lookup("WOBURN", "MA")

'01801'

In [57]:
#townstate["Town", "State"], apply(lookup)

In [40]:
#gasleaks["Town", "State"], apply(lookup)

Do I need to put a list into it?

townstate = pd.read_csv('townstate.csv') # not full list? only to M?

def lookuplist(townstate):
    res = search.by_city_and_state(townstate)
    return res[0].zipcode

In [37]:
lookuplist

In [100]:
#townstate bad list

In [51]:
def lookup(row):
    res = search.by_city_and_state(row["Town"],row["State"])
    return res[0].zipcode


# if res  then return res[0] else return none
# or try except

In [103]:
gasleaks_unique
# find the row 2976-- then check for that in zipcode- probably missing.

# IndexError: ('list index out of range', 'occurred at index 2976')

                 Town State
0            ABINGTON    MA
44              ACTON    MA
264          AMESBURY    MA
280         ARLINGTON    MA
593              AYER    MA
625           BEDFORD    MA
711           BELMONT    MA
823           BEVERLY    MA
950            BOSTON    MA
1243       BOXBOROUGH    MA
1248          BOXFORD    MA
1262        BRAINTREE    MA
1426         BREWSTER    MA
1427         BRIGHTON    MA
1568       BROOKFIELD    MA
1585        BROOKLINE    MA
1860       BURLINGTON    MA
1952          BYFIELD    MA
1957        CAMBRIDGE    MA
1959         CARLISLE    MA
1978      CENTERVILLE    MA
1979      CHARLESTOWN    MA
2011          CHELSEA    MA
2076          CLINTON    MA
2095         COHASSET    MA
2185          CONCORD    MA
2330          DANVERS    MA
2421       DORCHESTER    MA
2935           DUDLEY    MA
2976      EAST BOSTON    MA
...               ...   ...
7460            SALEM    MA
7504        SALISBURY    MA
7522           SAUGUS    MA
7664          SHIRLEY    MA
7671       SOMERVILLE    MA
7754     SOUTH BOSTON    MA
7818      SOUTHBRIDGE    MA
7876          SPENCER    MA
7888         STONEHAM    MA
7964          SUDBURY    MA
8103       SWAMPSCOTT    MA
8188     SWIFTS BEACH    MA
8189        TOPSFIELD    MA
8206        WAKEFIELD    MA
8212          WALTHAM    MA
8427           WARREN    MA
8444        WATERTOWN    MA
8567          WAYLAND    MA
8679          WEBSTER    MA
8717        WELLESLEY    MA
8978           WENHAM    MA
8983  WEST BROOKFIELD    MA
9007     WEST NEWBURY    MA
9008     WEST ROXBURY    MA
9230           WESTON    MA
9405         WEYMOUTH    MA
9696          WHITMAN    MA
9772       WINCHESTER    MA
9883         WINTHROP    MA
9930           WOBURN    MA

[107 rows x 2 columns]

In [102]:
#gasleaks_unique["zipcode"] = gasleaks_unique.apply(lookup, axis = 1)

# IndexError: ('list index out of range', 'occurred at index 2976')

In [101]:
#
# Try to:
try:
    # Print scores
    gasleaks_unique["zipcode"] = gasleaks_unique.apply(lookup, axis = 1)
# If you get an error, set the error as 'e',
except Exception as e:
    # print the error, e
    print('Error:', e)
# Then,
finally:
    # print end program
    print('End program')

Error: ("lookup() missing 1 required positional argument: 'state'", 'occurred at index 0')
End program

In [105]:
#
# Try to:
try:
    # Print scores
    gasleaks["zipcode"] = gasleaks.apply(lookup, axis = 1)
# If you get an error, set the error as 'e',
except Exception as e:
    # print the error, e
    print('Error:', e)
# Then,
finally:
    # print end program
    print('End program')

Error: ("lookup() missing 1 required positional argument: 'state'", 'occurred at index 0')
End program

Error: ("lookup() missing 1 required positional argument: 'state'", 'occurred at index 0')
End program


Why stopping now?
Not full list of columns-- how to deduplicate--- and still keep the other columns?

In [47]:
#townstate("zipcode") = townstate.apply(lookup, axis = 1)

SyntaxError: can't assign to function call (<ipython-input-47-3aaab8084fe1>, line 1)

else --- print town name

https://chrisalbon.com/python/data_wrangling/pandas_create_column_with_loop/

#### For Loop in Pandas--- not the most recommended way

In [46]:
# Create a list to store the data
addzipinfo = []

# For each row in the column,
for row in gasleaks['Town']:
    # if more than a value,
    if row == "ABINGTON":
        # Append a letter grade
        addzipinfo.append('Jack')

    # otherwise,
    else:
        # Append a failing grade
        addzipinfo.append('No first name')
        
# Create a column from the list
gasleaks['zipcode'] = addzipinfo

In [47]:
gasleaks

,f,ReportedAddress,CrossStreet,Town,State,concate,ReportedDate,Endingleakgrade,Endingleakgradenumber,zipcode
0,6015776,1070 BEDFORD ST,NaN,ABINGTON,MA,"1070 BEDFORD ST ABINGTON, MA",9/9/2015,3,3,Jack
1,1505591,11 ADLEY DR,NaN,ABINGTON,MA,"11 ADLEY DR ABINGTON, MA",9/26/2013,3,3,Jack
2,7333066,123 CATHERINE DR,NaN,ABINGTON,MA,"123 CATHERINE DR ABINGTON, MA",4/5/2017,3,3,Jack
3,7321083,1233 WASHINGTON ST,NaN,ABINGTON,MA,"1233 WASHINGTON ST ABINGTON, MA",9/10/2015,3,3,Jack
4,251670,1241 WASHINGTON ST,NaN,ABINGTON,MA,"1241 WASHINGTON ST ABINGTON, MA",9/26/2003,3,3,Jack
5,7323314,138 RANDOLPH ST,NaN,ABINGTON,MA,"138 RANDOLPH ST ABINGTON, MA",8/1/2014,3,3,Jack
6,7337464,140 CHESTNUT ST,NaN,ABINGTON,MA,"140 CHESTNUT ST ABINGTON, MA",8/14/2017,3,3,Jack
7,1740971,141 CHAPEL ST,NaN,ABINGTON,MA,"141 CHAPEL ST ABINGTON, MA",9/3/2014,3,3,Jack
8,2950638,16 HARRISON AVE,NaN,ABINGTON,MA,"16 HARRISON AVE ABINGTON, MA",1/31/2015,3,3,Jack
9,851846,177 CENTRAL ST,NaN,ABINGTON,MA,"177 CENTRAL ST ABINGTON, MA",4/18/2012,3,3,Jack
10,1505600,177 MARGARET RD,NaN,ABINGTON,MA,"177 MARGARET RD ABINGTON, MA",9/26/2013,3,3,Jack
11,321520,18 WASHINGTON ST,NaN,ABINGTON,MA,"18 WASHINGTON ST ABINGTON, MA",4/14/2009,3,3,Jack
12,235571,21 WALKER LN,NaN,ABINGTON,MA,"21 WALKER LN ABINGTON, MA",9/10/2002,3,3,Jack
13,7345234,222 LINWOOD ST,NaN,ABINGTON,MA,"222 LINWOOD ST ABINGTON, MA",6/28/2018,3,3,Jack
14,303321,238 WASHINGTON ST,NaN,ABINGTON,MA,"238 WASHINGTON ST ABINGTON, MA",8/8/2007,3,3,Jack
15,7323312,240 NORTH AVE,NaN,ABINGTON,MA,"240 NORTH AVE ABINGTON, MA",8/19/2014,3,3,Jack
16,7323307,262 ADAMS ST,NaN,ABINGTON,MA,"262 ADAMS ST ABINGTON, MA",8/19/2014,3,3,Jack
17,266424,27 HIGHLAND ST,NaN,ABINGTON,MA,"27 HIGHLAND ST ABINGTON, MA",9/30/2004,3,3,Jack
18,7323315,27 ROCKLAND ST,NaN,ABINGTON,MA,"27 ROCKLAND ST ABINGTON, MA",9/10/2014,3,3,Jack
19,7349726,32 ASHLAND ST,NaN,ABINGTON,MA,"32 ASHLAND ST ABINGTON, MA",12/1/2018,3,3,Jack
20,7324345,32 CLIFF ST,NaN,ABINGTON,MA,"32 CLIFF ST ABINGTON, MA",1/12/2013,3,3,Jack
21,330597,383 ROCKLAND ST,NaN,ABINGTON,MA,"383 ROCKLAND ST ABINGTON, MA",2/3/2010,3,3,Jack
22,287402,4 CHRISTIANSON CIR,NaN,ABINGTON,MA,"4 CHRISTIANSON CIR ABINGTON, MA",4/20/2006,3,3,Jack
23,220341,4 PINE ST,NaN,ABINGTON,MA,"4 PINE ST ABINGTON, MA",8/15/2001,3,3,Jack
24,7349727,428 HIGH ST,NaN,ABINGTON,MA,"428 HIGH ST ABINGTON, MA",12/1/2018,3,3,Jack
25,346527,431 HANCOCK ST,NaN,ABINGTON,MA,"431 HANCOCK ST ABINGTON, MA",5/10/2011,3,3,Jack
26,7341628,45 PEREGRINE RD,NaN,ABINGTON,MA,"45 PEREGRINE RD ABINGTON, MA",2/5/2018,3,3,Jack
27,7327655,467 RANDOLPH ST,NaN,ABINGTON,MA,"467 RANDOLPH ST ABINGTON, MA",7/13/2016,3,3,Jack
28,652840,533 WASHINGTON ST,NaN,ABINGTON,MA,"533 WASHINGTON ST ABINGTON, MA",12/19/2011,3,3,Jack
29,277784,55 MARGARET RD,NaN,ABINGTON,MA,"55 MARGARET RD ABINGTON, MA",8/2/2005,3,3,Jack
...,...,...,...,...,...,...,...,...,...,...
9997,7337990,45 SHERIDAN ST,NaN,WOBURN,MA,"45 SHERIDAN ST WOBURN, MA",8/31/2017,3,3,No first name
9998,7332414,48 SALEM ST,NaN,WOBURN,MA,"48 SALEM ST WOBURN, MA",2/22/2017,3,3,No first name
9999,7345369,485 WASHINGTON ST,NaN,WOBURN,MA,"485 WASHINGTON ST WOBURN, MA",7/3/2018,3,3,No first name
10000,7347587,49 STURGIS ST,NaN,WOBURN,MA,"49 STURGIS ST WOBURN, MA",9/25/2018,3,3,No first name
10001,278593,5 EXETER DR,NaN,WOBURN,MA,"5 EXETER DR WOBURN, MA",8/23/2005,3,3,No first name
10002,7334955,5 HUDSON ST,NaN,WOBURN,MA,"5 HUDSON ST WOBURN, MA",6/1/2017,3,3,No first name
10003,7335619,51 EATON AVE,NaN,WOBURN,MA,"51 EATON AVE WOBURN, MA",6/19/2017,3,3,No first name
10004,7346770,52 PLEASANT ST,NaN,WOBURN,MA,"52 PLEASANT ST WOBURN, MA",8/22/2018,3,3,No first name
10005,7346771,53 WINTER ST,NaN,WOBURN,MA,"53 WINTER ST WOBURN, MA",8/24/2018,3,3,No first name
10006,7335353,55 KILBY ST,NaN,WOBURN,MA,"55 KILBY ST WOBURN, MA",6/9/2017,3,3,No first name
10007,7335620,56 MISHAWUM RD,NaN,WOBURN,MA,"56 MISHAWUM RD WOBURN, MA",6/15/2017,3,3,No first name
10008,7335355,58 KILBY ST,NaN,WOBURN,MA,"58 KILBY ST WOBURN, MA",6/9/2017,3,3,No first name
10009,7348404,59 LOWELL ST,NaN,WOBURN,MA,"59 LOWELL ST WOBURN, MA",10/20/2018,2,2,No first name
10010,233814,6 PARKER ST,NaN,WOBURN,MA,"6 PARKER ST WOBURN, MA",8/6/2002,3,3,No first name
10011,7346786,6 SURREY RD,NaN,WOBURN,MA,"6 SURREY RD WOBURN, MA",9/5/2018,3,3,No first name
10012,7338002,61 BEDFORD RD,NaN,WOBURN,MA,"61 BEDFORD RD WOBURN, MA",8/30/2017,3,3,No first name
10013,7336629,69 MOUNT PLEASANT ST,NaN,WOBURN,MA,"69 MOUNT PLEASANT ST WOBURN, MA",6/8/2017,3,3,No first name
10014,1175995,7 ALFRED ST,NaN,WOBURN,MA,"7 ALFRED ST WOBURN, MA",3/27/2013,3,3,No first name
10015,7334922,70 WARREN AVE,NaN,WOBURN,MA,"70 WARREN AVE WOBURN, MA",6/2/2017,3,3,No first name
10016,7334953,71 ARLINGTON RD,NaN,WOBURN,MA,"71 ARLINGTON RD WOBURN, MA",5/31/2017,3,3,No first name
10017,7345415,71 WASHINGTON ST,NaN,WOBURN,MA,"71 WASHINGTON ST WOBURN, MA",7/6/2018,3,3,No first name
10018,7342943,73 PLEASANT ST,NaN,WOBURN,MA,"73 PLEASANT ST WOBURN, MA",4/10/2018,2,2,No first name
10019,277423,75 MONTVALE AV,NaN,WOBURN,MA,"75 MONTVALE AV WOBURN, MA",7/26/2005,3,3,No first name
10020,7348022,76 MISHAWUM RD,NaN,WOBURN,MA,"76 MISHAWUM RD WOBURN, MA",10/10/2018,3,3,No first name
10021,7334690,76 MOUNT PLEASANT ST,NaN,WOBURN,MA,"76 MOUNT PLEASANT ST WOBURN, MA",5/25/2017,3,3,No first name
10022,7337986,79 SCHOOL ST,NaN,WOBURN,MA,"79 SCHOOL ST WOBURN, MA",8/25/2017,3,3,No first name
10023,7348019,8 MARION AVE,NaN,WOBURN,MA,"8 MARION AVE WOBURN, MA",10/9/2018,3,3,No first name
10024,417453,9 ARLINGTON RD,NaN,WOBURN,MA,"9 ARLINGTON RD WOBURN, MA",9/29/2011,3,3,No first name
10025,7338268,9 LYNN ST,NaN,WOBURN,MA,"9 LYNN ST WOBURN, MA",9/12/2017,3,3,No first name
10026,7345770,94 PLEASANT ST,NaN,WOBURN,MA,"94 PLEASANT ST WOBURN, MA",7/18/2018,2,2,No first name

In [29]:
res1_info = pd.DataFrame(res1)

In [30]:
res1_info

                                                   0
0  SimpleZipcode(zipcode='02351', zipcode_type='S...

Doh! That did not work!

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html

DataFrame.to_csv(path_or_buf=None, sep=', ', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, quotechar='"', line_terminator=None, chunksize=None, tupleize_cols=None, date_format=None, doublequote=True, escapechar=None, decimal='.')[source]

https://chrisalbon.com/python/data_wrangling/pandas_saving_dataframe_as_csv/

DataFrame.to_csv(path_or_buf=None, sep=', ', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, quotechar='"', line_terminator=None, chunksize=None, tupleize_cols=None, date_format=None, doublequote=True, escapechar=None, decimal='.')[source]

In [31]:
res1_info.to_csv('res1_info.csv')

Works, but then would need to do text to column an "(" and ")" removal, etc. in spreadsheet.

Maybe keep it in Python and use REGEX or something else to clean it.

https://pbpython.com/pandas-list-dict.html

In [32]:
res1

[SimpleZipcode(zipcode='02351', zipcode_type='Standard', major_city='Abington', post_office_city='Abington, MA', common_city_list=['Abington'], county='Plymouth County', state='MA', lat=42.12, lng=-70.96, timezone='Eastern', radius_in_miles=3.0, area_code_list=[], population=16029, population_density=1660.0, land_area_in_sqmi=9.66, water_area_in_sqmi=0.24, housing_units=6399, occupied_housing_units=6099, median_home_value=312400, median_household_income=78395, bounds_west=-71.002354, bounds_east=-70.915787, bounds_north=42.148156, bounds_south=42.087446)]

In [49]:
res1_df = pd.DataFrame.from_records(res1)

TypeError: 'SimpleZipcode' object is not iterable

# TypeError: 'SimpleZipcode' object is not iterable

What is this SimpleZipcode output? It does not seem like a standard list.

https://stackoverflow.com/questions/18512491/typeerror-object-is-not-iterable

https://stackoverflow.com/questions/19523563/python-typeerror-int-object-is-not-iterable

In [ ]:
DataFrame.to_csv(path_or_buf=None, sep=', ', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, quotechar='"', line_terminator=None, chunksize=None, tupleize_cols=None, date_format=None, doublequote=True, escapechar=None, decimal='.')[source]

In [ ]:
DataFrame.to_csv(path_or_buf=None, sep=', ', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, quotechar='"', line_terminator=None, chunksize=None, tupleize_cols=None, date_format=None, doublequote=True, escapechar=None, decimal='.')[source]

In [69]:
zipcode

SimpleZipcode(zipcode='60601', zipcode_type='Standard', major_city='Chicago', post_office_city='Chicago, IL', common_city_list=['Chicago'], county='Cook County', state='IL', lat=41.88, lng=-87.62, timezone='Central', radius_in_miles=0.7954545454545454, area_code_list=['312', '773', '872'], population=11110, population_density=28793.0, land_area_in_sqmi=0.39, water_area_in_sqmi=0.0, housing_units=8594, occupied_housing_units=6739, median_home_value=494200, median_household_income=95556, bounds_west=-87.633967, bounds_east=-87.61328, bounds_north=41.889045, bounds_south=41.880829)

# Maybe try this advice?


# import pandas as pd 
#import pandas as pd 
  
# list of strings 
lst = ['Geeks', 'For', 'Geeks', 'is',  
            'portal', 'for', 'Geeks'] 
  
# Calling DataFrame constructor on list 
df = pd.DataFrame(lst) 
df 


# https://www.geeksforgeeks.org/create-a-pandas-dataframe-from-lists/

In [50]:

# list of strings 
lst = ['Geeks', 'For', 'Geeks', 'is',  
            'portal', 'for', 'Geeks'] 
  
# Calling DataFrame constructor on list 
df = pd.DataFrame(lst) 
df

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

But this comes out in rows, I want the info to come out across columns.

In [65]:
res1_info

                                                   0
0  SimpleZipcode(zipcode='02351', zipcode_type='S...

In [65]:
res1_info

                                                   0
0  SimpleZipcode(zipcode='02351', zipcode_type='S...

In [62]:
res1_2_info = pd.DataFrame(res1,res2)

In [63]:
res1_2_info

                                                                                                    0
SimpleZipcode(zipcode='01720', zipcode_type='St...  SimpleZipcode(zipcode='02351', zipcode_type='S...

In [58]:
zipcode

SimpleZipcode(zipcode='60601', zipcode_type='Standard', major_city='Chicago', post_office_city='Chicago, IL', common_city_list=['Chicago'], county='Cook County', state='IL', lat=41.88, lng=-87.62, timezone='Central', radius_in_miles=0.7954545454545454, area_code_list=['312', '773', '872'], population=11110, population_density=28793.0, land_area_in_sqmi=0.39, water_area_in_sqmi=0.0, housing_units=8594, occupied_housing_units=6739, median_home_value=494200, median_household_income=95556, bounds_west=-87.633967, bounds_east=-87.61328, bounds_north=41.889045, bounds_south=41.880829)

In [32]:
res1

[SimpleZipcode(zipcode='02351', zipcode_type='Standard', major_city='Abington', post_office_city='Abington, MA', common_city_list=['Abington'], county='Plymouth County', state='MA', lat=42.12, lng=-70.96, timezone='Eastern', radius_in_miles=3.0, area_code_list=[], population=16029, population_density=1660.0, land_area_in_sqmi=9.66, water_area_in_sqmi=0.24, housing_units=6399, occupied_housing_units=6099, median_home_value=312400, median_household_income=78395, bounds_west=-71.002354, bounds_east=-70.915787, bounds_north=42.148156, bounds_south=42.087446)]

## try many in one

manycityresults =search.by_city_and_state(["ABINGTON", "MA"],["ACTON", "MA"])
# AttributeError: 'list' object has no attribute 'upper'

manycityresults =search.by_city_and_state[("ABINGTON", "MA")],("ACTON", "MA")]

# SyntaxError: invalid syntax

#create a dictionary or list? then loop over it to get zip information; then print it out- then merge back with the original data.

#### Summarize the Data

In [99]:
#gasleaks.describe()

https://chrisalbon.com/python/data_wrangling/pandas_pivot_tables/

In [87]:
gasleaks.pivot_table(index=['Town'], aggfunc='count').head()

,CrossStreet,Endingleakgrade,ReportedAddress,ReportedDate,State,concate,f
Town,,,,,,,
ABINGTON,0,44,44,44,44,44,44
ACTON,20,220,220,220,220,220,220
AMESBURY,0,16,16,16,16,16,16
ARLINGTON,22,313,313,313,313,313,313
AYER,3,32,32,32,32,32,32

In [37]:
gasleaks.pivot_table(index=['Endingleakgrade'], aggfunc='count')

,CrossStreet,ReportedAddress,ReportedDate,State,Town,concate,f
Endingleakgrade,,,,,,,
1,6,45,45,45,45,45,45
2,104,1150,1150,1150,1150,1150,1150
2A,10,201,201,201,201,201,201
3,828,8631,8631,8631,8631,8631,8631

In [77]:
gasleaks.pivot_table(index=['Town','Endingleakgrade'], aggfunc='count').head()

                          CrossStreet  ReportedAddress  ReportedDate  State  \
Town     Endingleakgrade
ABINGTON 3                          0               44            44     44
ACTON    2                          0                3             3      3
         2A                         0                1             1      1
         3                         20              216           216    216
AMESBURY 3                          0               16            16     16

                          concate    f
Town     Endingleakgrade
ABINGTON 3                     44   44
ACTON    2                      3    3
         2A                     1    1
         3                    216  216
AMESBURY 3                     16   16

##### List Number of leaks by town in descending order.

(there has got to be a quicker way than this- but that is for later)

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html

DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')[source]
Sort by the values along either axis

In [57]:
df1 = gasleaks[['Town','f']]

In [78]:
#df1.pivot_table(index=['Town'], aggfunc='count',sort_values= True)

In [79]:
#df.sort_values('2')
#df1.sort_values("f", ascending=False)

In [71]:
#df1.pivot_table(index=['Town'], aggfunc='count',sort_values=False)
 df2 = df1.pivot_table(index=['Town'], aggfunc='count')

In [75]:
df3 = df2.sort_values(by="f", ascending=False)

In [76]:
df3

                    f
Town
NEWTON            690
QUINCY            526
DORCHESTER        514
ARLINGTON         313
MEDFORD           296
BOSTON            293
WEYMOUTH          291
BROOKLINE         275
WELLESLEY         261
MILTON            236
WEST ROXBURY      222
ACTON             220
WALTHAM           215
MALDEN            184
WESTON            175
BRAINTREE         164
LYNN              164
PEABODY           157
LEXINGTON         155
CONCORD           145
SAUGUS            142
BRIGHTON          141
SUDBURY           139
REVERE            139
HAVERHILL         136
HINGHAM           131
NORWOOD           131
LYNNFIELD         130
MARBLEHEAD        128
ROXBURY           128
...               ...
AMESBURY           16
BOXFORD            14
NORTH BROOKFIELD   14
EAST BROOKFIELD    14
SPENCER            12
HARVARD            12
MERRIMAC           11
ROWLEY             11
GEORGETOWN         11
IPSWICH            10
MANCHESTER          8
LEICESTER           8
MIDDLETON           8
SHIRLEY             7
WAKEFIELD           6
WENHAM              5
BOXBOROUGH          5
HAMILTON            5
BYFIELD             5
ESSEX               4
CAMBRIDGE           2
LOWELL              2
ROCKPORT            2
MARSTONS MILLS      1
BREWSTER            1
SWIFTS BEACH        1
LUNENBURG           1
WEST NEWBURY        1
CENTERVILLE         1
LANCASTER           1

[107 rows x 1 columns]

Ultimately we're goint to want to analyze that in terms of population, or some other factor-- perhaps by number of gas lines running through the town--- if we can get that information.  

(for consideration--- by centralize-- were lines run through; by median income, race, etc.)

#### Select a Town to investigate

In [83]:
Brookline = gasleaks[gasleaks['Town']=="BROOKLINE"]

In [86]:
Brookline.shape

(275, 8)

In [84]:
Brookline.head()

,f,ReportedAddress,CrossStreet,Town,State,concate,ReportedDate,Endingleakgrade
1585,306017,ALLANDALE RD,RISLEY RD,BROOKLINE,MA,"ALLANDALE RD BROOKLINE, MA",11/8/2007,3
1586,305331,AMORY ST,THATCHER ST,BROOKLINE,MA,"AMORY ST BROOKLINE, MA",10/12/2007,3
1587,124015,BARTLETT ST,WASHINGTON ST,BROOKLINE,MA,"BARTLETT ST BROOKLINE, MA",5/18/1998,3
1588,250759,BEACON ST,CHESTNUT HILL AV,BROOKLINE,MA,"BEACON ST BROOKLINE, MA",9/2/2003,3
1589,1050532,BEACON ST,WASHINGTON ST,BROOKLINE,MA,"BEACON ST BROOKLINE, MA",9/27/2012,3

In [88]:
pd.crosstab(Brookline.Town, Brookline.ReportedDate, margins=True)

ReportedDate,1/1/2018,1/10/2018,1/16/2002,1/17/2018,1/21/2002,10/11/2010,10/11/2018,10/12/2007,10/12/2010,10/12/2017,...,9/27/2004,9/27/2012,9/27/2018,9/3/2013,9/30/2016,9/4/2013,9/6/2013,9/6/2018,9/8/2018,All
Town,,,,,,,,,,,,,,,,,,,,,
BROOKLINE,1,1,1,1,1,1,1,1,2,1,...,1,1,1,2,1,2,1,1,1,275
All,1,1,1,1,1,1,1,1,2,1,...,1,1,1,2,1,2,1,1,1,275

In [91]:
# chart this when I have time

https://chrisalbon.com/python/data_wrangling/pandas_crosstabs/

In [90]:
#pd.crosstab(gasleaks.Town, gasleaks.ReportedDate, margins=True)

pd.crosstab(gasleaks.Town, gasleaks.ReportedDate, margins=True).head()

ReportedDate,1/1/2012,1/1/2016,1/1/2017,1/1/2018,1/10/2009,1/10/2012,1/10/2014,1/10/2016,1/10/2017,1/10/2018,...,9/9/2009,9/9/2010,9/9/2011,9/9/2013,9/9/2014,9/9/2015,9/9/2016,9/9/2017,9/9/2018,All
Town,,,,,,,,,,,,,,,,,,,,,
ABINGTON,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,44
ACTON,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,220
AMESBURY,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,16
ARLINGTON,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,313
AYER,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,32

https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.crosstab.html

# Plot the responses for different events and regions
sns.lineplot(x="ReportedDate", y="Town",
             hue="region", style="event",
             data=gasleaks)

#https://stackoverflow.com/questions/51846948/seaborn-lineplot-module-object-has-no-attribute-lineplot?rq=1

# fix this later

In [46]:
#sns.lmplot('ReportedDate', 'Town', data=gasleaks, fit_reg=False)

In [92]:
gasleaks.shape

(10027, 8)

https://chrisalbon.com/machine_learning/preprocessing_structured_data/deleting_missing_values/

# Load data as a data frame
gasleaks_clean = pd.DataFrame(gasleaks, columns=['Town', 'Endingleakgrade'])

# Remove observations with missing values
gasleaks_clean.dropna()

#clean this up later:

sns.heatmap([gasleaks_clean.Town, gasleaks.Endingleakgrade], annot=True, fmt="d")

Deal with this issue;

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

#pd.to_numeric(df['gasleaks_clean'], errors='coerce')

but it is not fully numeric-- 2A, etc.

## REFERENCES

https://uszipcode.readthedocs.io/01-Tutorial/index.html#search-by-city-and-state

https://pypi.org/project/uszipcode/

Import the data:

https://chrisalbon.com/python/data_wrangling/load_excel_file_into_pandas/

https://pbpython.com/pandas-list-dict.html

Use this (or deduplicate in Excel) to get the unique town names.  
(if we are going to get zip codes, just by town; not by street address as well):

https://chrisalbon.com/python/data_wrangling/pandas_list_unique_values_in_column/

#### Geocoding

Converting a physical address or location into latitude/longitude:

Need to add the zipcodes to do this

Jon Cusick [8:53 AM]
Hi Perry! I’d suggest taking a look at `geopandas` (http://geopandas.org/) for help with some of the spatial analysis. It essentially adds a geometry column to a regular `pandas` dataframe that allows for traditional GIS-like operations (point-in-polygon, spatial joins, distance measurement, etc.)

I haven’t worked with the `pygeocoder` package that you listed in the notebook, but that seems like it could be a promising way to go. An approach I might take would be to try to get the addresses converted to a lat/lon via the geocoder and then use `geopandas` to perform spatial joins (http://geopandas.org/reference/geopandas.sjoin.html) on datasets of interest (zip codes, Census tract boundaries for demographic information, etc, to pull their attribute information into the gas leak location points.

VN [10:12 AM]
@Perry: about 10k records isn't so bad, you can probably slowly, while still observing the request limit of each services, geocode using the free Google Maps API and OpenStreetMap geocoder.

The problem with zipcode as I've learned from parsing the world data, zipcode isn't "location" base per-se... it's more of a postal/street specific.
Since it's mainly for mail delivery route, just checking the zipcode for a city, town isn't enough
it's a bit rough and manual, but I think that's probably going to be the best...route as far as I can tell
When you geocode, you'll get the actual latlong & zip, which I suspect would be super helpful in plotting them on a map of some sort

Itamar: What you want is a geocoding library, e.g. https://geocoder.readthedocs.io/

Tyler:  
I think BARI (https://www.northeastern.edu/csshresearch/bostonarearesearchinitiative/) tends to do this type of thing. Your specific use case sounds like you need a Geocoder. Google and Bing might be cost prohibitive depending on the size of your data and project budget. I’d encourage you to reach out to BARI if other suggestions aren’t suitable for your use case.

https://chrisalbon.com/python/data_wrangling/geocoding_and_reverse_geocoding/

Address the geo-coding issue:  
https://stackoverflow.com/questions/3212550/google-geocoding-api-request-denied

Use this to match the Zipcode info with the NGrid data?:

https://chrisalbon.com/python/data_wrangling/pandas_join_merge_dataframe/

Hi Perry,

If the uszipcodes library data is good enough, then it looks like you 
just need to read through the csv file in your github account and add a 
zipcode binding derived from the uszipcods library. I haven't looked 
closely at the data -- zipcodes sometimes cross municipal boundaries. 
Your address data might be fine.

There is a free or very lowcost geocoder provided by Texas A&M 
University (TAMU), see http://geoservices.tamu.edu/Services/Geocode/ for 
details. I suspect that the TAMU batch geocoder 
(http://geoservices.tamu.edu/Services/Geocode/BatchProcess/) might be 
the easiest way for you get what you want. I suggest making a test file 
with a handful of rows extracted from your csv file and using that to 
exercise the TAMU geocoder. I think TAMU uses that same zipcode data, 
and they've spent more time ensuring its accuracy (and correcting errors).

I'd form a sha1 from the "concate" field of the data, and use that to 
index both your map and the results from either batch geocoding or the 
uszipcodes library. You could also use md5 or anything similar, it's 
just an easy way to get a key that's easy to use in python dicts and db's.

As far as how to loop over the data, I'd probably roll my own since your 
csv file is pretty simple. Something along the lines of:

class GasDataAnalyzer(object):

     def getGasLeakData(self):
         """Answers a dict binding the sha1 of the concate field with
            another dict mapping each attribute to its value.
         """
         path = self.pathToCSVFile()
         with open(path, mode=r) as leakFile:
             # take off the trailing \n with strip()
             header = leakFile.readline().strip()
            attributes = header.split(',')
            gasLeakData = {}
            for leakRow in leakFile:
                 # take off the trailing \n with strip()
                 leakRow = leakRow.strip()
                 gasLeakItem = {}
                leakValues = leakRow.split(',')
                 for attribute, leakValue in zip(attributes, leakValues):
                     gasLeakItem [attribute] = leakValue
                 sha1 = self.sha1FromString(gasLeakItem['concate']
                 gasLeakItem['sha1'] = sha1
                 zipcode = self.getZipcodeFromGasLeakItem(gasLeakItem)
                 gasLeakItem['zipcode'] = zipcode
                 gasLeakData[sha1] = gasLeakItem
         return gasLeakData

     def sha1FromString(self, aString):
         """Alternatively, you can join several components and form a
            sha1 from them."""
         hashObject = hashlib.sha1(str.encode(aString))
        hexSha1 = hashObject.hexDigest()
         return hexSha1

     def getZipcodeFromGasLeakItem(self, aGasLeakItem):
         """Answers a zipcode given aGasLeakItem"""
         sha1 = aGasLeakItem['sha1']
         zipcode = self.batchGeocodes()[sha1].get('zipcode')
         return zipcode

     def batchGeocodes(self):
         """Answers a dictionary where each key is the sha1 of the
            concate field and each value is a zipcode answered by
            batch geocoder like TAMU from the input data.

           This can be precomputed and kept in a db or another csv
            file.
         """
         # Roll your own
         pass

Of course you can put all this in some sort of DB if that's easier for you.

You'll have to choose and implement your own vehicle for storage and 
delivery of the results.

I leave the conversion of these open-coded loops to list and dict 
comprehensions as an exercise for the the reader.

This is all written on the fly, not exercised, and done with 
insufficient caffienation. It is worth approximately what you paid for 
it. :)

Thanks,
Tom S.

Just use city?  mm

not address?   

https://chrisalbon.com/python/data_wrangling/geolocate_a_city_and_country/

Group a time period?

https://chrisalbon.com/python/data_wrangling/pandas_group_by_time/

In [ ]:
#df.truncate(before='1/2/2014', after='1/3/2014')

Use this to get the zipcode output (a list) into a pandas dataframe:  
https://www.geeksforgeeks.org/create-a-pandas-dataframe-from-lists/

This might be useful:  
    https://chrisalbon.com/python/data_wrangling/pandas_create_column_with_loop

https://chrisalbon.com/python/data_wrangling/pandas_crosstabs/

If we just work with Towns, not addresses, we might want remove duplicate info:   
    https://chrisalbon.com/python/data_wrangling/pandas_delete_duplicates/   
        
        But then we lose information about the leaks

or us this:   
    

https://chrisalbon.com/python/data_wrangling/pandas_find_unique_values/

Map values in a DF:
    
https://chrisalbon.com/python/data_wrangling/pandas_map_values_to_values/

city_to_state = { 'San Francisco' : 'California', 
                  'Baltimore' : 'Maryland', 
                  'Miami' : 'Florida', 
                  'Douglas' : 'Arizona', 
                  'Boston' : 'Massachusetts'}

df['state'] = df['city'].map(city_to_state)
df

https://chrisalbon.com/python/data_wrangling/pandas_rename_multiple_columns/

In [ ]:
Grab rows based on column values
value_list = ['Tina', 'Molly', 'Jason']
#Grab DataFrame rows where column has certain values
df[df.name.isin(value_list)]

https://chrisalbon.com/python/data_wrangling/pandas_select_rows_when_column_has_certain_values/

https://chrisalbon.com/python/data_wrangling/pandas_time_series_basics/

##### Charting

https://seaborn.pydata.org/examples/errorband_lineplots.html

check the versions  

https://stackoverflow.com/questions/51846948/seaborn-lineplot-module-object-has-no-attribute-lineplot?rq=1

https://github.com/keplergl/kepler.gl


Kepler.gl is a data-agnostic, high-performance web-based application for visual exploration of large-scale geolocation data sets. Built on top of Mapbox GL and deck.gl, kepler.gl can render millions of points representing thousands of trips and perform spatial aggregations on the fly.

Kepler.gl is also a React component that uses Redux to manage its state and data flow. It can be embedded into other React-Redux applications and is highly customizable. For information on how to embed kepler.gl in your app take a look at this step-by-step tutorial on vis.academy.

https://kepler.gl/