# Analysis of National Grid Massachusetts Gas Leaks 2018

#### Goal:  
Provide insights into National Grid Massachusetts gas leaks.   
Provide a visualization of the leaks.   
Add socio-demographic information.  
Spur action on this critical issue.

-------
People, this is an important issue!

##### Worcester Residents Demand Gas Leak Repairs  
There are growing concerns that five natural gas leaks near schools in Worcester are causing health issues associated with asthma.  

(Published Tuesday, Jun 18, 2019 | Credit: Cassy Arsenault)

https://www.necn.com/multimedia/Worcester-Residents-Demand-Gas-Leak-Repairs_NECN-511476042.html

#### Steps:  
Load needed libraries  
Import NGrid data   
Add Zipcodes  --- *** Can anyone provide advice on this? See below ****


Add soci-demographic information. --- *** Can anyone provide advice on this? See below. **** 

    - how to loop over several addresses
    - How to get the zipcode output into a pandas dataframe?




Provide visualizations  
Do analytics

In [117]:
# import modules
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Import NGrid data

https://chrisalbon.com/python/data_wrangling/load_excel_file_into_pandas/

#### Data Info   
Data generously provide by Audrey Schulman, HEET Co-founder and Executive Director:   

The first number is the National Grid ID number.  
 
The ending grade is defined by potential for explosion.  
To generalize:   
Grade 1 is in a contained space  
Grade 2 is close to a building,  
(2A? Unknown. I recoded those to 2 in a new column)
Grade 3 is everything else.   
Grades having nothing to do with volume of emissions.

In [118]:
# Create URL to Excel file (alternatively this can be a filepath)
#url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.xlsx'
# Load the first sheet of the Excel file into a data frame
#df = pd.read_excel(url, sheetname=0, header=1)

#df = pd.read_excel(url, sheetname=0, header=1)

# View the first ten rows
#df.head(10)

https://chrisalbon.com/python/data_wrangling/pandas_dataframe_load_xls/

https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

df = pd.read_csv('pandas_dataframe_importing_csv/example.csv')
df

In [119]:
# Import the excel file and call it xls_file
gasleaks = pd.read_csv('0-Boston_Gas_2018_SQ_Report_3-1-19_unrepaired_pg.csv')

In [120]:
gasleaks.head(20)

,f,ReportedAddress,CrossStreet,Town,State,concate,ReportedDate,Endingleakgrade,Endingleakgradenumber
0,6015776,1070 BEDFORD ST,NaN,ABINGTON,MA,"1070 BEDFORD ST ABINGTON, MA",9/9/2015,3,3
1,1505591,11 ADLEY DR,NaN,ABINGTON,MA,"11 ADLEY DR ABINGTON, MA",9/26/2013,3,3
2,7333066,123 CATHERINE DR,NaN,ABINGTON,MA,"123 CATHERINE DR ABINGTON, MA",4/5/2017,3,3
3,7321083,1233 WASHINGTON ST,NaN,ABINGTON,MA,"1233 WASHINGTON ST ABINGTON, MA",9/10/2015,3,3
4,251670,1241 WASHINGTON ST,NaN,ABINGTON,MA,"1241 WASHINGTON ST ABINGTON, MA",9/26/2003,3,3
5,7323314,138 RANDOLPH ST,NaN,ABINGTON,MA,"138 RANDOLPH ST ABINGTON, MA",8/1/2014,3,3
6,7337464,140 CHESTNUT ST,NaN,ABINGTON,MA,"140 CHESTNUT ST ABINGTON, MA",8/14/2017,3,3
7,1740971,141 CHAPEL ST,NaN,ABINGTON,MA,"141 CHAPEL ST ABINGTON, MA",9/3/2014,3,3
8,2950638,16 HARRISON AVE,NaN,ABINGTON,MA,"16 HARRISON AVE ABINGTON, MA",1/31/2015,3,3
9,851846,177 CENTRAL ST,NaN,ABINGTON,MA,"177 CENTRAL ST ABINGTON, MA",4/18/2012,3,3
10,1505600,177 MARGARET RD,NaN,ABINGTON,MA,"177 MARGARET RD ABINGTON, MA",9/26/2013,3,3
11,321520,18 WASHINGTON ST,NaN,ABINGTON,MA,"18 WASHINGTON ST ABINGTON, MA",4/14/2009,3,3
12,235571,21 WALKER LN,NaN,ABINGTON,MA,"21 WALKER LN ABINGTON, MA",9/10/2002,3,3
13,7345234,222 LINWOOD ST,NaN,ABINGTON,MA,"222 LINWOOD ST ABINGTON, MA",6/28/2018,3,3
14,303321,238 WASHINGTON ST,NaN,ABINGTON,MA,"238 WASHINGTON ST ABINGTON, MA",8/8/2007,3,3
15,7323312,240 NORTH AVE,NaN,ABINGTON,MA,"240 NORTH AVE ABINGTON, MA",8/19/2014,3,3
16,7323307,262 ADAMS ST,NaN,ABINGTON,MA,"262 ADAMS ST ABINGTON, MA",8/19/2014,3,3
17,266424,27 HIGHLAND ST,NaN,ABINGTON,MA,"27 HIGHLAND ST ABINGTON, MA",9/30/2004,3,3
18,7323315,27 ROCKLAND ST,NaN,ABINGTON,MA,"27 ROCKLAND ST ABINGTON, MA",9/10/2014,3,3
19,7349726,32 ASHLAND ST,NaN,ABINGTON,MA,"32 ASHLAND ST ABINGTON, MA",12/1/2018,3,3

##### These data have no zip codes, which means we can't convert the locations to lat/long, which means we can't plot this the way we want.

#### We want to do geocoding

In [121]:
# Load packages
from pygeocoder import Geocoder
import pandas as pd
import numpy as np

#### This uszipcode library has cool info we could match up to our data-- but we don't have zipcodes.

https://pypi.org/project/uszipcode/

In [122]:
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True) # set simple_zipcode=False to use rich info database
zipcode = search.by_zipcode("10001")

In [123]:
zipcode

SimpleZipcode(zipcode='10001', zipcode_type='Standard', major_city='New York', post_office_city='New York, NY', common_city_list=['New York'], county='New York County', state='NY', lat=40.75, lng=-73.99, timezone='Eastern', radius_in_miles=0.9090909090909091, area_code_list=['718', '917', '347', '646'], population=21102, population_density=33959.0, land_area_in_sqmi=0.62, water_area_in_sqmi=0.0, housing_units=12476, occupied_housing_units=11031, median_home_value=650200, median_household_income=81671, bounds_west=-74.008621, bounds_east=-73.984076, bounds_north=40.759731, bounds_south=40.743451)

# Looking for Chicago and IL, but entered wrong spelling.
>>> res = search.by_city_and_state("cicago", "il")
>>> len(res) # 56 zipcodes in Chicago
56
>>> zipcode = res[0]
>>> zipcode.major_city
'Chicago'
>>> zipcode.state_abbr
'IL'

In [124]:
# Looking for Chicago and IL, but entered wrong spelling.
res = search.by_city_and_state("cicago", "il")

In [125]:
len(res) # 56 zipcodes in Chicago

5

len(zipcode)

TypeError: object of type 'SimpleZipcode' has no len()

In [126]:
#res.describe()

#AttributeError: 'list' object has no attribute 'describe'

So the output is a list.

*** How to export it to an array or a data frame so we can match it back to our data?***

res.type()

AttributeError: 'list' object has no attribute 'type'

In [128]:
zipcode = res[0]

In [129]:
zipcode.major_city

'Chicago'

In [130]:
zipcode.state_abbr

'IL'

In [131]:
zipcode

SimpleZipcode(zipcode='60601', zipcode_type='Standard', major_city='Chicago', post_office_city='Chicago, IL', common_city_list=['Chicago'], county='Cook County', state='IL', lat=41.88, lng=-87.62, timezone='Central', radius_in_miles=0.7954545454545454, area_code_list=['312', '773', '872'], population=11110, population_density=28793.0, land_area_in_sqmi=0.39, water_area_in_sqmi=0.0, housing_units=8594, occupied_housing_units=6739, median_home_value=494200, median_household_income=95556, bounds_west=-87.633967, bounds_east=-87.61328, bounds_north=41.889045, bounds_south=41.880829)

In [132]:
zipcode.zipcode

'60601'

#### We can search by city and state. But that is not a great solution, because we want to leverage the street information too.

Below is a long way to do it (made easier with some copy/pasting in Excel); but this would probably be better done by looping over the data.

**** I can review loops, but if anyone has advice on how we could do that loop that would be great****

In [133]:
res1=search.by_city_and_state("ABINGTON", "MA")
res2=search.by_city_and_state("ACTON", "MA")
res3=search.by_city_and_state("AMESBURY", "MA")
res4=search.by_city_and_state("ARLINGTON", "MA")
res5=search.by_city_and_state("AYER", "MA")
res6=search.by_city_and_state("BEDFORD", "MA")
res7=search.by_city_and_state("BELMONT", "MA")
res8=search.by_city_and_state("BEVERLY", "MA")
res9=search.by_city_and_state("BOSTON", "MA")
res10=search.by_city_and_state("BOXBOROUGH", "MA")
res11=search.by_city_and_state("BOXFORD", "MA")
res12=search.by_city_and_state("BRAINTREE", "MA")
res13=search.by_city_and_state("BREWSTER", "MA")
res14=search.by_city_and_state("BRIGHTON", "MA")
res15=search.by_city_and_state("BROOKFIELD", "MA")
res16=search.by_city_and_state("BROOKLINE", "MA")
res17=search.by_city_and_state("BURLINGTON", "MA")
res18=search.by_city_and_state("BYFIELD", "MA")
res19=search.by_city_and_state("CAMBRIDGE", "MA")
res20=search.by_city_and_state("CARLISLE", "MA")
res21=search.by_city_and_state("CENTERVILLE", "MA")
res22=search.by_city_and_state("CHARLESTOWN", "MA")
res23=search.by_city_and_state("CHELSEA", "MA")
res24=search.by_city_and_state("CLINTON", "MA")
res25=search.by_city_and_state("COHASSET", "MA")
res26=search.by_city_and_state("CONCORD", "MA")
res27=search.by_city_and_state("DANVERS", "MA")
res28=search.by_city_and_state("DORCHESTER", "MA")
res29=search.by_city_and_state("DUDLEY", "MA")
res30=search.by_city_and_state("EAST BOSTON", "MA")
res31=search.by_city_and_state("EAST BROOKFIELD", "MA")
res32=search.by_city_and_state("ESSEX", "MA")
res33=search.by_city_and_state("EVERETT", "MA")
res34=search.by_city_and_state("GEORGETOWN", "MA")
res35=search.by_city_and_state("GLOUCESTER", "MA")
res36=search.by_city_and_state("GROTON", "MA")
res37=search.by_city_and_state("GROVELAND", "MA")
res38=search.by_city_and_state("HAMILTON", "MA")
res39=search.by_city_and_state("HARVARD", "MA")
res40=search.by_city_and_state("HAVERHILL", "MA")
res41=search.by_city_and_state("HINGHAM", "MA")
res42=search.by_city_and_state("HULL", "MA")
res43=search.by_city_and_state("IPSWICH", "MA")
res44=search.by_city_and_state("JAMAICA PLAIN", "MA")
res45=search.by_city_and_state("LANCASTER", "MA")
res46=search.by_city_and_state("LEICESTER", "MA")
res47=search.by_city_and_state("LEOMINSTER", "MA")
res48=search.by_city_and_state("LEXINGTON", "MA")
res49=search.by_city_and_state("LINCOLN", "MA")
res50=search.by_city_and_state("LITTLETON", "MA")
res51=search.by_city_and_state("LOWELL", "MA")
res52=search.by_city_and_state("LUNENBURG", "MA")
res53=search.by_city_and_state("LYNN", "MA")
res54=search.by_city_and_state("LYNNFIELD", "MA")
res55=search.by_city_and_state("MALDEN", "MA")
res56=search.by_city_and_state("MANCHESTER", "MA")
res57=search.by_city_and_state("MARBLEHEAD", "MA")
res58=search.by_city_and_state("MARSTONS MILLS", "MA")
res59=search.by_city_and_state("MEDFORD", "MA")
res60=search.by_city_and_state("MELROSE", "MA")
res61=search.by_city_and_state("MERRIMAC", "MA")
res62=search.by_city_and_state("MIDDLETON", "MA")
res63=search.by_city_and_state("MILTON", "MA")
res64=search.by_city_and_state("NAHANT", "MA")
res65=search.by_city_and_state("NEWBURYPORT", "MA")
res66=search.by_city_and_state("NEWTON", "MA")
res67=search.by_city_and_state("NORTH BROOKFIELD", "MA")
res68=search.by_city_and_state("NORWOOD", "MA")
res69=search.by_city_and_state("PEABODY", "MA")
res70=search.by_city_and_state("QUINCY", "MA")
res71=search.by_city_and_state("READING", "MA")
res72=search.by_city_and_state("REVERE", "MA")
res73=search.by_city_and_state("ROCKLAND", "MA")
res74=search.by_city_and_state("ROCKPORT", "MA")
res75=search.by_city_and_state("ROSLINDALE", "MA")
res76=search.by_city_and_state("ROWLEY", "MA")
res77=search.by_city_and_state("ROXBURY", "MA")
res78=search.by_city_and_state("SALEM", "MA")
res79=search.by_city_and_state("SALISBURY", "MA")
res80=search.by_city_and_state("SAUGUS", "MA")
res81=search.by_city_and_state("SHIRLEY", "MA")
res82=search.by_city_and_state("SOMERVILLE", "MA")
res83=search.by_city_and_state("SOUTH BOSTON", "MA")
res84=search.by_city_and_state("SOUTHBRIDGE", "MA")
res85=search.by_city_and_state("SPENCER", "MA")
res86=search.by_city_and_state("STONEHAM", "MA")
res87=search.by_city_and_state("SUDBURY", "MA")
res88=search.by_city_and_state("SWAMPSCOTT", "MA")
res89=search.by_city_and_state("SWIFTS BEACH", "MA")
res90=search.by_city_and_state("TOPSFIELD", "MA")
res91=search.by_city_and_state("WAKEFIELD", "MA")
res92=search.by_city_and_state("WALTHAM", "MA")
res93=search.by_city_and_state("WARREN", "MA")
res94=search.by_city_and_state("WATERTOWN", "MA")
res95=search.by_city_and_state("WAYLAND", "MA")
res96=search.by_city_and_state("WEBSTER", "MA")
res97=search.by_city_and_state("WELLESLEY", "MA")
res98=search.by_city_and_state("WENHAM", "MA")
res99=search.by_city_and_state("WEST BROOKFIELD", "MA")
res100=search.by_city_and_state("WEST NEWBURY", "MA")
res101=search.by_city_and_state("WEST ROXBURY", "MA")
res102=search.by_city_and_state("WESTON", "MA")
res103=search.by_city_and_state("WEYMOUTH", "MA")
res104=search.by_city_and_state("WHITMAN", "MA")
res105=search.by_city_and_state("WINCHESTER", "MA")
res106=search.by_city_and_state("WINTHROP", "MA")
res107=search.by_city_and_state("WOBURN", "MA")

In [134]:
res1
#res2

[SimpleZipcode(zipcode='02351', zipcode_type='Standard', major_city='Abington', post_office_city='Abington, MA', common_city_list=['Abington'], county='Plymouth County', state='MA', lat=42.12, lng=-70.96, timezone='Eastern', radius_in_miles=3.0, area_code_list=[], population=16029, population_density=1660.0, land_area_in_sqmi=9.66, water_area_in_sqmi=0.24, housing_units=6399, occupied_housing_units=6099, median_home_value=312400, median_household_income=78395, bounds_west=-71.002354, bounds_east=-70.915787, bounds_north=42.148156, bounds_south=42.087446)]

Ideally, we would get the zipcodes by street, but this information might be good enough;   

#### How can we get it into a dataframe and match it back to the data???

In [135]:
res1_info = pd.DataFrame(res1)

In [136]:
res1_info

                                                   0
0  SimpleZipcode(zipcode='02351', zipcode_type='S...

Doh! That did not work!

In [69]:
zipcode

SimpleZipcode(zipcode='60601', zipcode_type='Standard', major_city='Chicago', post_office_city='Chicago, IL', common_city_list=['Chicago'], county='Cook County', state='IL', lat=41.88, lng=-87.62, timezone='Central', radius_in_miles=0.7954545454545454, area_code_list=['312', '773', '872'], population=11110, population_density=28793.0, land_area_in_sqmi=0.39, water_area_in_sqmi=0.0, housing_units=8594, occupied_housing_units=6739, median_home_value=494200, median_household_income=95556, bounds_west=-87.633967, bounds_east=-87.61328, bounds_north=41.889045, bounds_south=41.880829)

# Maybe try this advice?


# import pandas as pd 
#import pandas as pd 
  
# list of strings 
lst = ['Geeks', 'For', 'Geeks', 'is',  
            'portal', 'for', 'Geeks'] 
  
# Calling DataFrame constructor on list 
df = pd.DataFrame(lst) 
df 


# https://www.geeksforgeeks.org/create-a-pandas-dataframe-from-lists/

In [50]:

# list of strings 
lst = ['Geeks', 'For', 'Geeks', 'is',  
            'portal', 'for', 'Geeks'] 
  
# Calling DataFrame constructor on list 
df = pd.DataFrame(lst) 
df

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

But this comes out in rows, I want the info to come out across columns.

In [65]:
res1_info

                                                   0
0  SimpleZipcode(zipcode='02351', zipcode_type='S...

In [65]:
res1_info

                                                   0
0  SimpleZipcode(zipcode='02351', zipcode_type='S...

In [62]:
res1_2_info = pd.DataFrame(res1,res2)

In [63]:
res1_2_info

                                                                                                    0
SimpleZipcode(zipcode='01720', zipcode_type='St...  SimpleZipcode(zipcode='02351', zipcode_type='S...

In [58]:
zipcode

SimpleZipcode(zipcode='60601', zipcode_type='Standard', major_city='Chicago', post_office_city='Chicago, IL', common_city_list=['Chicago'], county='Cook County', state='IL', lat=41.88, lng=-87.62, timezone='Central', radius_in_miles=0.7954545454545454, area_code_list=['312', '773', '872'], population=11110, population_density=28793.0, land_area_in_sqmi=0.39, water_area_in_sqmi=0.0, housing_units=8594, occupied_housing_units=6739, median_home_value=494200, median_household_income=95556, bounds_west=-87.633967, bounds_east=-87.61328, bounds_north=41.889045, bounds_south=41.880829)

In [32]:
res1

[SimpleZipcode(zipcode='02351', zipcode_type='Standard', major_city='Abington', post_office_city='Abington, MA', common_city_list=['Abington'], county='Plymouth County', state='MA', lat=42.12, lng=-70.96, timezone='Eastern', radius_in_miles=3.0, area_code_list=[], population=16029, population_density=1660.0, land_area_in_sqmi=9.66, water_area_in_sqmi=0.24, housing_units=6399, occupied_housing_units=6099, median_home_value=312400, median_household_income=78395, bounds_west=-71.002354, bounds_east=-70.915787, bounds_north=42.148156, bounds_south=42.087446)]

## try many in one

manycityresults =search.by_city_and_state(["ABINGTON", "MA"],["ACTON", "MA"])
# AttributeError: 'list' object has no attribute 'upper'

manycityresults =search.by_city_and_state[("ABINGTON", "MA")],("ACTON", "MA")]

# SyntaxError: invalid syntax

#create a dictionary or list? then loop over it to get zip information; then print it out- then merge back with the original data.

#### Summarize the Data

In [99]:
#gasleaks.describe()

https://chrisalbon.com/python/data_wrangling/pandas_pivot_tables/

In [87]:
gasleaks.pivot_table(index=['Town'], aggfunc='count').head()

,CrossStreet,Endingleakgrade,ReportedAddress,ReportedDate,State,concate,f
Town,,,,,,,
ABINGTON,0,44,44,44,44,44,44
ACTON,20,220,220,220,220,220,220
AMESBURY,0,16,16,16,16,16,16
ARLINGTON,22,313,313,313,313,313,313
AYER,3,32,32,32,32,32,32

In [37]:
gasleaks.pivot_table(index=['Endingleakgrade'], aggfunc='count')

,CrossStreet,ReportedAddress,ReportedDate,State,Town,concate,f
Endingleakgrade,,,,,,,
1,6,45,45,45,45,45,45
2,104,1150,1150,1150,1150,1150,1150
2A,10,201,201,201,201,201,201
3,828,8631,8631,8631,8631,8631,8631

In [77]:
gasleaks.pivot_table(index=['Town','Endingleakgrade'], aggfunc='count').head()

                          CrossStreet  ReportedAddress  ReportedDate  State  \
Town     Endingleakgrade
ABINGTON 3                          0               44            44     44
ACTON    2                          0                3             3      3
         2A                         0                1             1      1
         3                         20              216           216    216
AMESBURY 3                          0               16            16     16

                          concate    f
Town     Endingleakgrade
ABINGTON 3                     44   44
ACTON    2                      3    3
         2A                     1    1
         3                    216  216
AMESBURY 3                     16   16

##### List Number of leaks by town in descending order.

(there has got to be a quicker way than this- but that is for later)

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html

DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')[source]
Sort by the values along either axis

In [57]:
df1 = gasleaks[['Town','f']]

In [78]:
#df1.pivot_table(index=['Town'], aggfunc='count',sort_values= True)

In [79]:
#df.sort_values('2')
#df1.sort_values("f", ascending=False)

In [71]:
#df1.pivot_table(index=['Town'], aggfunc='count',sort_values=False)
 df2 = df1.pivot_table(index=['Town'], aggfunc='count')

In [75]:
df3 = df2.sort_values(by="f", ascending=False)

In [76]:
df3

                    f
Town
NEWTON            690
QUINCY            526
DORCHESTER        514
ARLINGTON         313
MEDFORD           296
BOSTON            293
WEYMOUTH          291
BROOKLINE         275
WELLESLEY         261
MILTON            236
WEST ROXBURY      222
ACTON             220
WALTHAM           215
MALDEN            184
WESTON            175
BRAINTREE         164
LYNN              164
PEABODY           157
LEXINGTON         155
CONCORD           145
SAUGUS            142
BRIGHTON          141
SUDBURY           139
REVERE            139
HAVERHILL         136
HINGHAM           131
NORWOOD           131
LYNNFIELD         130
MARBLEHEAD        128
ROXBURY           128
...               ...
AMESBURY           16
BOXFORD            14
NORTH BROOKFIELD   14
EAST BROOKFIELD    14
SPENCER            12
HARVARD            12
MERRIMAC           11
ROWLEY             11
GEORGETOWN         11
IPSWICH            10
MANCHESTER          8
LEICESTER           8
MIDDLETON           8
SHIRLEY             7
WAKEFIELD           6
WENHAM              5
BOXBOROUGH          5
HAMILTON            5
BYFIELD             5
ESSEX               4
CAMBRIDGE           2
LOWELL              2
ROCKPORT            2
MARSTONS MILLS      1
BREWSTER            1
SWIFTS BEACH        1
LUNENBURG           1
WEST NEWBURY        1
CENTERVILLE         1
LANCASTER           1

[107 rows x 1 columns]

Ultimately we're goint to want to analyze that in terms of population, or some other factor-- perhaps by number of gas lines running through the town--- if we can get that information.  

(for consideration--- by centralize-- were lines run through; by median income, race, etc.)

#### Select a Town to investigate

In [83]:
Brookline = gasleaks[gasleaks['Town']=="BROOKLINE"]

In [86]:
Brookline.shape

(275, 8)

In [84]:
Brookline.head()

,f,ReportedAddress,CrossStreet,Town,State,concate,ReportedDate,Endingleakgrade
1585,306017,ALLANDALE RD,RISLEY RD,BROOKLINE,MA,"ALLANDALE RD BROOKLINE, MA",11/8/2007,3
1586,305331,AMORY ST,THATCHER ST,BROOKLINE,MA,"AMORY ST BROOKLINE, MA",10/12/2007,3
1587,124015,BARTLETT ST,WASHINGTON ST,BROOKLINE,MA,"BARTLETT ST BROOKLINE, MA",5/18/1998,3
1588,250759,BEACON ST,CHESTNUT HILL AV,BROOKLINE,MA,"BEACON ST BROOKLINE, MA",9/2/2003,3
1589,1050532,BEACON ST,WASHINGTON ST,BROOKLINE,MA,"BEACON ST BROOKLINE, MA",9/27/2012,3

In [88]:
pd.crosstab(Brookline.Town, Brookline.ReportedDate, margins=True)

ReportedDate,1/1/2018,1/10/2018,1/16/2002,1/17/2018,1/21/2002,10/11/2010,10/11/2018,10/12/2007,10/12/2010,10/12/2017,...,9/27/2004,9/27/2012,9/27/2018,9/3/2013,9/30/2016,9/4/2013,9/6/2013,9/6/2018,9/8/2018,All
Town,,,,,,,,,,,,,,,,,,,,,
BROOKLINE,1,1,1,1,1,1,1,1,2,1,...,1,1,1,2,1,2,1,1,1,275
All,1,1,1,1,1,1,1,1,2,1,...,1,1,1,2,1,2,1,1,1,275

In [91]:
# chart this when I have time

https://chrisalbon.com/python/data_wrangling/pandas_crosstabs/

In [90]:
#pd.crosstab(gasleaks.Town, gasleaks.ReportedDate, margins=True)

pd.crosstab(gasleaks.Town, gasleaks.ReportedDate, margins=True).head()

ReportedDate,1/1/2012,1/1/2016,1/1/2017,1/1/2018,1/10/2009,1/10/2012,1/10/2014,1/10/2016,1/10/2017,1/10/2018,...,9/9/2009,9/9/2010,9/9/2011,9/9/2013,9/9/2014,9/9/2015,9/9/2016,9/9/2017,9/9/2018,All
Town,,,,,,,,,,,,,,,,,,,,,
ABINGTON,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,44
ACTON,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,220
AMESBURY,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,16
ARLINGTON,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,313
AYER,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,32

https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.crosstab.html

# Plot the responses for different events and regions
sns.lineplot(x="ReportedDate", y="Town",
             hue="region", style="event",
             data=gasleaks)

#https://stackoverflow.com/questions/51846948/seaborn-lineplot-module-object-has-no-attribute-lineplot?rq=1

# fix this later

In [46]:
#sns.lmplot('ReportedDate', 'Town', data=gasleaks, fit_reg=False)

In [92]:
gasleaks.shape

(10027, 8)

https://chrisalbon.com/machine_learning/preprocessing_structured_data/deleting_missing_values/

# Load data as a data frame
gasleaks_clean = pd.DataFrame(gasleaks, columns=['Town', 'Endingleakgrade'])

# Remove observations with missing values
gasleaks_clean.dropna()

In [54]:
sns.heatmap([gasleaks_clean.Town, gasleaks.Endingleakgrade], annot=True, fmt="d")

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

Deal with this issue;

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

#pd.to_numeric(df['gasleaks_clean'], errors='coerce')

but it is not fully numeric-- 2A, etc.

## REFERENCES

https://uszipcode.readthedocs.io/01-Tutorial/index.html#search-by-city-and-state

https://pypi.org/project/uszipcode/

Import the data:

https://chrisalbon.com/python/data_wrangling/load_excel_file_into_pandas/

Use this (or deduplicate in Excel) to get the unique town names.  
(if we are going to get zip codes, just by town; not by street address as well):

https://chrisalbon.com/python/data_wrangling/pandas_list_unique_values_in_column/

Converting a physical address or location into latitude/longitude:

Need to add the zipcodes to do this

https://chrisalbon.com/python/data_wrangling/geocoding_and_reverse_geocoding/

Address the geo-coding issue:  
https://stackoverflow.com/questions/3212550/google-geocoding-api-request-denied

Use this to match the Zipcode info with the NGrid data?:

https://chrisalbon.com/python/data_wrangling/pandas_join_merge_dataframe/

Just use city?  mm

not address?   

https://chrisalbon.com/python/data_wrangling/geolocate_a_city_and_country/

Group a time period?

https://chrisalbon.com/python/data_wrangling/pandas_group_by_time/

In [ ]:
#df.truncate(before='1/2/2014', after='1/3/2014')

Use this to get the zipcode output (a list) into a pandas dataframe:  
https://www.geeksforgeeks.org/create-a-pandas-dataframe-from-lists/

This might be useful:  
    https://chrisalbon.com/python/data_wrangling/pandas_create_column_with_loop

https://chrisalbon.com/python/data_wrangling/pandas_crosstabs/

If we just work with Towns, not addresses, we might want remove duplicate info:   
    https://chrisalbon.com/python/data_wrangling/pandas_delete_duplicates/   
        
        But then we loose information about the leaks

or us this:   
    

https://chrisalbon.com/python/data_wrangling/pandas_find_unique_values/

Map values in a DF:
    
https://chrisalbon.com/python/data_wrangling/pandas_map_values_to_values/

city_to_state = { 'San Francisco' : 'California', 
                  'Baltimore' : 'Maryland', 
                  'Miami' : 'Florida', 
                  'Douglas' : 'Arizona', 
                  'Boston' : 'Massachusetts'}

df['state'] = df['city'].map(city_to_state)
df

https://chrisalbon.com/python/data_wrangling/pandas_rename_multiple_columns/

In [ ]:
Grab rows based on column values
value_list = ['Tina', 'Molly', 'Jason']
#Grab DataFrame rows where column has certain values
df[df.name.isin(value_list)]

https://chrisalbon.com/python/data_wrangling/pandas_select_rows_when_column_has_certain_values/

https://chrisalbon.com/python/data_wrangling/pandas_time_series_basics/

Charting

https://seaborn.pydata.org/examples/errorband_lineplots.html

check the versions  

https://stackoverflow.com/questions/51846948/seaborn-lineplot-module-object-has-no-attribute-lineplot?rq=1